In [1]:
import pandas as pd
import numpy as np

# Load dataset
file_path = '/Users/allig/ads/508/lost_objects.csv'
df = pd.read_csv(file_path)

# Display basic info
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2582 entries, 0 to 2581
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   International Designator  2582 non-null   object
 1   NORAD Catalog Number      2581 non-null   float64
 2   Satellite Name            2581 non-null   object
 3   Source                    2581 non-null   object
 4   Launch Date               2581 non-null   object
 5   Launch Site               2581 non-null   object
 6   Object Type               2581 non-null   object
 7   Last Data                 2581 non-null   object
dtypes: float64(1), object(7)
memory usage: 161.5+ KB

,International Designator,NORAD Catalog Number,Satellite Name,Source,Launch Date,Launch Site,Object Type,Last Data
0,1960-009D,52.0,ECHO 1 DEB [MYLAR OBJ],US,1960-08-12,AFETR,DEB,1991-03-25T14:23:57.069312
1,1963-039C,692.0,VELA 1,US,1963-10-17,AFETR,PAY-,2024-11-06T17:09:09.800928
2,1964-040A,836.0,OPS 3662 (VELA 3),US,1964-07-17,AFETR,PAY-,2024-10-18T19:49:13.468512
3,1965-058A,1458.0,OPS 6577 (VELA 5),US,1965-07-20,AFETR,PAY-,2025-01-24T09:01:13.708704
4,1965-058B,1459.0,OPS 6564 (VELA 6),US,1965-07-20,AFETR,PAY-,2024-12-24T02:18:46.645344

In [2]:
# Standardize column names
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

print("Updated Column Names:\n", df.columns)

Updated Column Names:
 Index(['international_designator', 'norad_catalog_number', 'satellite_name',
       'source', 'launch_date', 'launch_site', 'object_type', 'last_data'],
      dtype='object')

In [3]:
# Drop columns where more than 50% of values are missing
threshold = len(df) * 0.5
df = df.dropna(thresh=threshold, axis=1)

# Fill missing values
for col in df.columns:
    if df[col].dtype == "object":  # Categorical columns
        df[col] = df[col].fillna("Unknown")
    else:  # Numeric columns
        df[col] = df[col].fillna(df[col].median())

# Verify missing values
print("Remaining Missing Values:\n", df.isnull().sum())

Remaining Missing Values:
 international_designator    0
norad_catalog_number        0
satellite_name              0
source                      0
launch_date                 0
launch_site                 0
object_type                 0
last_data                   0
dtype: int64

In [5]:
# Remove duplicate rows
df = df.drop_duplicates()

print(f"Dataset now has {df.shape[0]} rows and {df.shape[1]} columns after removing duplicates.")

Dataset now has 2582 rows and 8 columns after removing duplicates.