In [1]:
import pandas as pd
from scipy.stats import zscore

In [2]:
df = pd.read_csv('C:/Users/tkbar/OneDrive/Desktop/ADS508 Final Project/ADS508-GroupProject/Data to use/simplified_collision_data.csv')

In [3]:
df.columns

Index(['NORAD_CAT_ID_1', 'OBJECT_NAME_1', 'DSE_1', 'NORAD_CAT_ID_2',
       'OBJECT_NAME_2', 'DSE_2', 'TCA', 'TCA_RANGE', 'TCA_RELATIVE_SPEED',
       'MAX_PROB', 'DILUTION'],
      dtype='object')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80377 entries, 0 to 80376
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   NORAD_CAT_ID_1      80377 non-null  object
 1   OBJECT_NAME_1       80377 non-null  object
 2   DSE_1               80377 non-null  float64
 3   NORAD_CAT_ID_2      80377 non-null  object
 4   OBJECT_NAME_2       80377 non-null  object
 5   DSE_2               80377 non-null  float64
 6   TCA                 80377 non-null  datetime64[ns]
 7   TCA_RANGE           80377 non-null  float64
 8   TCA_RELATIVE_SPEED  80377 non-null  float64
 9   MAX_PROB            80377 non-null  float64
 10  DILUTION            80377 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(4)
memory usage: 6.7+ MB

In [5]:
df.head()

,NORAD_CAT_ID_1,OBJECT_NAME_1,DSE_1,NORAD_CAT_ID_2,OBJECT_NAME_2,DSE_2,TCA,TCA_RANGE,TCA_RELATIVE_SPEED,MAX_PROB,DILUTION
0,48379,STARLINK-2612 [+],7.424,33314,RAPIDEYE 1 [-],7.726,2025-03-18 10:36:24.650,0.018,6.833,0.243800,0.005
1,56155,PIESAT C [+],7.671,56156,PIESAT D [+],7.671,2025-03-18 06:42:02.541,0.027,0.001,0.005994,0.006
2,45394,STARLINK-1292 [+],6.801,49027,TIANQI-15 [+],6.104,2025-03-17 13:58:44.363,0.034,10.515,0.077890,0.011
3,40030,DTUSAT-2 [+],7.650,45388,STARLINK-1280 [+],7.710,2025-03-18 12:43:07.735,0.040,10.447,0.057940,0.013
4,51057,KEPLER-16 (ASTRAEUS) [+],5.305,56205,FACSAT-2 [+],4.570,2025-03-16 01:29:22.126,0.045,15.169,0.000788,0.029

In [8]:
df[['NORAD_CAT_ID_1', 'NORAD_CAT_ID_2']] = df[['NORAD_CAT_ID_1', 'NORAD_CAT_ID_2']].astype(str)

In [11]:
df['TCA'] = pd.to_datetime(df['TCA'])

In [10]:
num_cols = ['DSE_1', 'DSE_2', 'TCA_RANGE', 'TCA_RELATIVE_SPEED', 'MAX_PROB', 'DILUTION']
df[num_cols] = df[num_cols].apply(zscore)