In [1]:
import pandas as pd
from scipy.stats import zscore

In [68]:
df = pd.read_csv('C:/Users/tkbar/OneDrive/Desktop/ADS508 Final Project/ADS508-GroupProject/Data to use/full_satcat.csv')

In [80]:
df.columns

Index(['Unnamed: 0', 'OBJECT_NAME', 'OBJECT_ID', 'NORAD_CAT_ID', 'OBJECT_TYPE',
       'OPS_STATUS_CODE', 'OWNER', 'LAUNCH_DATE', 'LAUNCH_SITE', 'DECAY_DATE',
       'PERIOD', 'INCLINATION', 'APOGEE', 'PERIGEE', 'RCS', 'DATA_STATUS_CODE',
       'ORBIT_CENTER', 'ORBIT_TYPE'],
      dtype='object')

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63073 entries, 0 to 63072
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        63073 non-null  int64
 1   OBJECT_NAME       63073 non-null  object
 2   OBJECT_ID         63073 non-null  object
 3   NORAD_CAT_ID      63073 non-null  int64
 4   OBJECT_TYPE       63073 non-null  object
 5   OPS_STATUS_CODE   45825 non-null  object
 6   OWNER             63073 non-null  object
 7   LAUNCH_DATE       63073 non-null  object
 8   LAUNCH_SITE       63073 non-null  object
 9   DECAY_DATE        32937 non-null  object
 10  PERIOD            62165 non-null  float64
 11  INCLINATION       62165 non-null  float64
 12  APOGEE            62165 non-null  float64
 13  PERIGEE           62165 non-null  float64
 14  RCS               32931 non-null  float64
 15  DATA_STATUS_CODE  1171 non-null   object
 16  ORBIT_CENTER      63073 non-null  object
 17  ORBIT_TYPE        63073 non-null  object
dtypes: float64(5), int64(2), object(11)
memory usage: 8.7+ MB

In [69]:
columns_to_drop = ['Unnamed: 0', 'DATA_STATUS_CODE', 'RCS', 'OPS_STATUS_CODE', 'DATA_STATUS_CODE']
df = df.drop(columns = columns_to_drop)
df = df[df['ORBIT_CENTER'] == 'EA']
df = df.drop(columns = 'ORBIT_CENTER')

In [102]:
df.columns

Index(['OBJECT_NAME', 'OBJECT_ID', 'NORAD_CAT_ID', 'OBJECT_TYPE', 'OWNER',
       'LAUNCH_DATE', 'LAUNCH_SITE', 'DECAY_DATE', 'PERIOD', 'INCLINATION',
       'APOGEE', 'PERIGEE', 'ORBIT_TYPE'],
      dtype='object')

In [4]:
df.isna().sum()

OBJECT_NAME         0
OBJECT_ID           0
NORAD_CAT_ID        0
OBJECT_TYPE         0
OWNER               0
LAUNCH_DATE         0
LAUNCH_SITE         0
DECAY_DATE      29828
PERIOD            523
INCLINATION       523
APOGEE            523
PERIGEE           523
ORBIT_TYPE          0
dtype: int64

In [70]:
df['OBJECT_TYPE'] = df['OBJECT_TYPE'].replace({
    'DEB': 'DEBRIS',
    'PAY': 'PAYLOAD',
    'R/B': 'ROCKET BODY',
    'UNK': 'UNKNOWN'
})

In [71]:
# Change decay date to a date time data type and norrad cat id to a string

df['DECAY_DATE'] = pd.to_datetime(df['DECAY_DATE'])
df['NORAD_CAT_ID'] = df['NORAD_CAT_ID'].astype('str')

In [50]:
df[df['PERIGEE'].isna()]['ORBIT_TYPE'].value_counts()

ORBIT_TYPE
ORB    320
IMP    184
LAN     19
Name: count, dtype: int64

In [51]:
df.isna().sum()

OBJECT_NAME         0
OBJECT_ID           0
NORAD_CAT_ID        0
OBJECT_TYPE         0
OWNER               0
LAUNCH_DATE         0
LAUNCH_SITE         0
DECAY_DATE      29828
PERIOD            523
INCLINATION       523
APOGEE            523
PERIGEE           523
ORBIT_TYPE          0
dtype: int64

In [72]:
# Fill in some of the NA values for the distance and location metrics

df.loc[(df['ORBIT_TYPE'] == 'IMP') | (df['ORBIT_TYPE'] == 'LAN'), ['PERIOD', 'INCLINATION', 'APOGEE', 'PERIGEE']] = 0

In [23]:
df.isna().sum()

OBJECT_NAME         0
OBJECT_ID           0
NORAD_CAT_ID        0
OBJECT_TYPE         0
OWNER               0
LAUNCH_DATE         0
LAUNCH_SITE         0
DECAY_DATE      29828
PERIOD            320
INCLINATION       320
APOGEE            320
PERIGEE           320
ORBIT_TYPE          0
dtype: int64

In [74]:
cols = ['PERIOD', 'INCLINATION', 'APOGEE', 'PERIGEE']
df[cols] = df[cols].fillna(df[df['ORBIT_TYPE'] == 'ORB'][cols].median())

In [75]:
df.isna().sum()

OBJECT_NAME         0
OBJECT_ID           0
NORAD_CAT_ID        0
OBJECT_TYPE         0
OWNER               0
LAUNCH_DATE         0
LAUNCH_SITE         0
DECAY_DATE      29828
PERIOD              0
INCLINATION         0
APOGEE              0
PERIGEE             0
ORBIT_TYPE          0
dtype: int64

In [76]:
df['HAS_DECAYED'] = df['DECAY_DATE'].notna().astype(int)