In [1]:
import pandas as pd
from scipy.stats import zscore

In [5]:
import os
os.getcwd()

'c:\\Users\\tkbar\\OneDrive\\Desktop\\ADS508 Final Project\\ADS508-GroupProject\\Transformations'

In [7]:
df = pd.read_csv("c:\\Users\\tkbar\\OneDrive\\Desktop\\ADS508 Final Project\\ADS508-GroupProject\\Data to use\\leo_objects.csv")

In [53]:
columns_to_drop = ['Unnamed: 0', 'DECAY', 'COMMENT', 'COMMENTCODE', 'FILE', 'LAUNCH_YEAR', 'LAUNCH_PIECE', 'LAUNCH_NUM', 'RCSVALUE', 
                   'OBJECT_NUMBER', 'OBJECT_ID', 'OBJECT_NAME', 'CURRENT']

In [54]:
df = df.drop(columns = columns_to_drop)

In [47]:
df.columns

Index(['INTLDES', 'NORAD_CAT_ID', 'OBJECT_TYPE', 'SATNAME', 'COUNTRY',
       'LAUNCH', 'SITE', 'PERIOD', 'INCLINATION', 'APOGEE', 'PERIGEE',
       'RCSVALUE'],
      dtype='object')

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24062 entries, 0 to 24061
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   INTLDES       24062 non-null  object
 1   NORAD_CAT_ID  24062 non-null  object
 2   OBJECT_TYPE   24062 non-null  object
 3   SATNAME       24062 non-null  object
 4   COUNTRY       24062 non-null  object
 5   LAUNCH        24062 non-null  object
 6   SITE          24062 non-null  object
 7   PERIOD        24062 non-null  float64
 8   INCLINATION   24062 non-null  float64
 9   APOGEE        24062 non-null  int64
 10  PERIGEE       24062 non-null  int64
 11  RCS_SIZE      23778 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 2.2+ MB

In [ ]:
# change norad cat id from int to string and change launch to date value

df['NORAD_CAT_ID'] = df['NORAD_CAT_ID'].astype('str')
df['LAUNCH'] = pd.to_datetime(df['LAUNCH'])

In [67]:
df[df['RCS_SIZE'].isna()].head(10)

,INTLDES,NORAD_CAT_ID,OBJECT_TYPE,SATNAME,COUNTRY,LAUNCH,SITE,PERIOD,INCLINATION,APOGEE,PERIGEE,RCS_SIZE
122,1960-009D,52,DEBRIS,ECHO 1 DEB (MYLAR OBJ),US,1960-08-12,AFETR,118.26,47.38,1711,1494,NaN
132,2019-039S,45001,DEBRIS,COSMOS 2535 DEB,CIS,2019-07-10,PKMTR,100.53,97.05,973,595,NaN
136,2013-076V,45032,DEBRIS,COSMOS 2491 DEB,CIS,2013-12-25,PKMTR,114.44,82.49,1506,1354,NaN
137,2013-076L,44990,DEBRIS,COSMOS 2491 DEB,CIS,2013-12-25,PKMTR,114.96,82.48,1491,1416,NaN
195,1980-019A,11720,PAYLOAD,OPS 7245,US,1980-03-03,AFWTR,94.24,63.24,756,208,NaN
233,1996-029E,23936,PAYLOAD,USA 123,US,1996-05-12,AFWTR,95.97,63.30,814,317,NaN
347,2003-008E,28245,DEBRIS,DELTA 4 DEB,US,2003-03-11,AFETR,107.15,25.45,1994,196,NaN
348,2005-016A,28646,PAYLOAD,USA 182,US,2005-04-30,AFETR,99.18,57.01,724,715,NaN
349,2005-042A,28888,PAYLOAD,USA 186,US,2005-10-19,AFWTR,91.78,96.89,466,264,NaN
350,2011-002A,37348,PAYLOAD,USA 224,US,2011-01-20,AFWTR,96.70,97.94,948,258,NaN

# Fill NA of RCS SIZE with distribution of corresponding object type

In [76]:
df[(df['OBJECT_TYPE'] == 'UNKNOWN') & (df['RCS_SIZE'].notna())]['RCS_SIZE'].value_counts()

RCS_SIZE
MEDIUM    303
SMALL     179
LARGE      99
Name: count, dtype: int64

In [78]:
df_standardize = df.copy()

numerical_cols = ['PERIOD', 'INCLINATION', 'APOGEE', 'PERIGEE']

df_standardize[numerical_cols] = df_standardize[numerical_cols].apply(zscore)