In [1]:
import pandas as pd
from scipy.stats import zscore

In [2]:
df = pd.read_csv('C:/Users/tkbar/OneDrive/Desktop/ADS508 Final Project/ADS508-GroupProject/Data to use/lost_objects.csv')

In [3]:
df.columns

Index(['International Designator', 'NORAD Catalog Number', 'Satellite Name',
       'Source', 'Launch Date', 'Launch Site', 'Object Type', 'Last Data'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2582 entries, 0 to 2581
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   International Designator  2582 non-null   object
 1   NORAD Catalog Number      2581 non-null   float64
 2   Satellite Name            2581 non-null   object
 3   Source                    2581 non-null   object
 4   Launch Date               2581 non-null   object
 5   Launch Site               2581 non-null   object
 6   Object Type               2581 non-null   object
 7   Last Data                 2581 non-null   object
dtypes: float64(1), object(7)
memory usage: 161.5+ KB

In [16]:
df.isna().sum()

International Designator    0
NORAD Catalog Number        0
Satellite Name              0
Source                      0
Launch Date                 0
Launch Site                 0
Object Type                 0
Last Data                   0
dtype: int64

In [23]:
df.head()

,International Designator,NORAD Catalog Number,Satellite Name,Source,Launch Date,Launch Site,Object Type,Last Data
0,1960-009D,52.0,ECHO 1 DEB [MYLAR OBJ],US,1960-08-12,AFETR,DEB,1991-03-25 14:23:57.069312
1,1963-039C,692.0,VELA 1,US,1963-10-17,AFETR,PAY-,2024-11-06 17:09:09.800928
2,1964-040A,836.0,OPS 3662 (VELA 3),US,1964-07-17,AFETR,PAY-,2024-10-18 19:49:13.468512
3,1965-058A,1458.0,OPS 6577 (VELA 5),US,1965-07-20,AFETR,PAY-,2025-01-24 09:01:13.708704
4,1965-058B,1459.0,OPS 6564 (VELA 6),US,1965-07-20,AFETR,PAY-,2024-12-24 02:18:46.645344

In [ ]:
# Drop last row

df = df.iloc[:-1]

In [21]:
df['NORAD Catalog Number'] = df['NORAD Catalog Number'].astype(str)
df['NORAD Catalog Number'].rename('NORAD_CAT_ID', inplace = True)
df['Last Data'] = pd.to_datetime(df['Last Data'], format='ISO8601', errors='coerce')
df['Launch Date'] = pd.to_datetime(df['Launch Date'])

In [24]:
df['Object Type'].value_counts()

Object Type
DEB     2492
PAY-      37
R/B       25
PAY+      25
UNK        2
Name: count, dtype: int64

In [25]:
df['Object Type'] = df['Object Type'].replace({
    'DEB': 'DEBRIS',
    'PAY-': 'PAYLOAD',
    'PAY+': 'PAYLOAD',
    'R/B': 'ROCKET BODY',
    'UNK': 'UNKNOWN'
})